html{
    box-sizing: border-box;
    font-size: 62.5%;  /*Si pusieramos 2rem, sería igual a 20px;*/
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body{
    overflow-x: hidden;
}
body{
    font-size: 1.6rem;
    line-height: 2;
    background-color: #262626;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.main{
    width: 90%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}
h1{
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}

.search{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 3rem 0;
}



.search input{
    margin-right: 2rem;
    width: 35%;
    padding: .5rem 1.5rem .5rem 1.5rem;
    /* border: 1px solid #C9CCCF; */
    border-radius: .25rem;
    font-size: 1.5rem;
    /* font-weight: 400; */
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.search input:focus{
    outline: none;
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.08);
}

#errorMsg{
    background-color: #C31D28;
    color: #eeeeee;
    padding: .5rem 1rem .5rem 1rem;
    margin-top: 0;
    border-radius: 1rem;
    text-align: center;
    align-self: flex-start;
    width: 35%;
    margin-left: 24.5%;
}

.search button{
    text-transform: uppercase;
    width: 15%;
    padding: .8rem 2rem .8rem 2rem;
    text-align: center;
    text-decoration: none;
    border: solid 1px transparent;
    border-radius: 4px;
    color: #EFFFFA;
    background-color: #7C9970;
    text-transform: uppercase;
    letter-spacing: 0.11rem;
    font-size: 1.8rem;
    transition: background-color 0.15s linear;
}

.search button:hover{
    cursor: pointer;
    background-color: #566B4C;
}

.search button:focus{
    outline: none;
}

#viewingPosts{
    color: #eeeeee;
    text-align: center;
}
#showDomain{
    text-transform: uppercase;
}

.slides{
    width: 80%;
    height: 60rem;
    border:1px solid rgba(124, 153, 112);
    transition: all 0.2s ease;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.flechas{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flechas div{
    background-color: rgba(124, 153, 112, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}
#left{
    margin-left: 2rem;
}

#right{
    margin-right: 2rem;
}

#left:focus{
    outline: none;
}

#righ:focus{ 
    outline: none;
}

.flechas div:hover{
    cursor: pointer;
   
}
.flechas div img{
    width: 25px;
    height: 25px;
    color: white;
    margin: 1.5rem;
    transition: all 0.2s ease;
}
.flechas div:hover img{
    width: 35px;
    height: 35px;
    margin: 1.5rem;
}

.info{
    background-color: rgba(38, 38, 38, 0.8);
}

.slides h2{
    margin-top: 0;
    margin-bottom: 0;
    min-height: 15%;
    height: fit-content;
    text-align: center;
    line-height: 1.5;
    padding: 2rem;
    
}
.slides h2 a{
    text-decoration: underline #eeeeee;
    color: white;
    margin: 1rem;
    transition: all 0.2s ease;
}

.slides h2 a:hover{
    color: #7C9970;
    text-decoration: underline #7C9970;
}
.date{
    color: #eeeeee;
    text-align: center;
    font-style: italic;
    margin-top: 0;
}

#daniel{
    color: #eeeeee;
    margin-top: 8rem;
    text-align: center;
    padding: 1rem;
    /* border-top: 1px solid rgba(124, 153, 112, 0.8); */
    width: 100%;
    
}
#daniel b a{
    text-decoration: none;
    color: #eeeeee;
    transition: color 0.2s ease;
}
#daniel b a:hover{
    cursor: pointer;
    color: #7c9970;
}


/* Responsive media queries */
@media (max-width: 667px){
    .search{
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .search input{
        width: 100%;
    }
    .search button{
        margin-top: 1rem;
        width: 100%;
    }
    #errorMsg{
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    .slides{
        width: 100%;
    }
    .slides h2 a{
        font-size: 2rem;
    }
}


/* Loading spin kit */
.sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
    margin: 30rem auto 4rem auto;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }